no-ui-slider {
  display: block;
  margin: 10px;
  padding: 10px;
  min-height: 120px;
}

// slider container
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
  direction: ltr;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;

  &.noUi-connect {
    box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45), 0 3px 6px -5px #BBB;
  }
}

// sub container
.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 9;

  // Painting and performance: Browsers can paint handles in their own layer.
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

// common class of ranges
.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  border-radius: 2px;

  .noUi-stacking + & {
    /* Fix stacking order in IE7, which incorrectly
		 creates a new context for the origins. */
    *z-index: -1;
  }

  .noUi-state-tap & {
    -webkit-transition: left 0.3s, top 0.3s;
    transition: left 0.3s, top 0.3s;
  }
}

// The handle
.noUi-handle {
  position: relative;
  z-index: 1;
  border: 1px solid #D9D9D9;
  border-bottom: 0;
  border-radius: 5px;
  background: #FFF;
  cursor: pointer;
  //box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
  z-index: 1;


  // This class is applied to the lower origin when		 its values is > 50%.
  .noUi-stacking & {
    z-index: 10;
  }
}

.noUi-state-drag * {
  cursor: inherit !important;
}

.noUi-horizontal {
  height: 18px;

  .noUi-handle {
    width: 34px;
    height: 28px;
    left: -17px;
    top: -6px;
  }
}

.noUi-vertical {
  width: 18px;

  .noUi-handle {
    width: 28px;
    height: 20px;
    left: -6px;
    top: -17px;
  }
}

.noUi-background {
  background: #FAFAFA;
  box-shadow: inset 0 1px 1px #f0f0f0;
}

.noUi-connect {
  background: #3FB8AF;
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
  -webkit-transition: background 450ms;
  transition: background 450ms;
}

/* Handles and cursors;
 */
.noUi-dragable {
  cursor: w-resize;

  .noUi-vertical & {
    cursor: n-resize;
  }
}

.noUi-active {
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
}

.caret {
  position: relative;
  top: 25px;
  left: 7px;
  width: 0;
  height: 0;
  border-left: 10px solid rgba(255, 255, 255, 0);
  border-right: 10px solid transparent;
  border-top: 10px solid #4d4d4d;
  z-index: 10;
}

/* Handle stripes;
 */
.noUi-handle:before{
  content: "||||";
  display: block;
  position: absolute;
  height: 8px;
  //width: 1px;
  color: #E8E7E6;
  font-size: 11px;
  left: 6px;
  top: 4px;
  letter-spacing: 4px;
  font-weight: lighter;
}

//.noUi-handle:after {
//  left: 17px;
//}

.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}

.noUi-vertical .noUi-handle:after {
  top: 17px;
}

/* Disabled state;
 */
[disabled].noUi-connect,
[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled] .noUi-handle {
  cursor: not-allowed;
}

/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-pips {
  position: absolute;
  font: 400 12px Arial;
  color: #999;
}

/* Values;
 *
 */
.noUi-value {
  width: 40px;
  position: absolute;
  text-align: center;
}

.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}

/* Markings;
 *
 */
.noUi-marker {
  position: absolute;
  background: #CCC;
}

.noUi-marker-sub {
  background: #AAA;
}

.noUi-marker-large {
  background: #AAA;
}

/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
  top: 100%;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 10px 0;
}

.noUi-value-horizontal {
  padding-top: 20px;
  margin-left: -20px;
}

.noUi-value-horizontal.noUi-value-sub {
  padding-top: 15px;
}

.noUi-marker-horizontal.noUi-marker {
  width: 2px;
  height: 5px;
  margin-left: -1px;
}

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}

/* Vertical layout;
 *
 */
.noUi-pips-vertical {
  top: 0;
  left: 100%;
  height: 100%;
  padding: 0 10px;
}

.noUi-value-vertical {
  width: 15px;
  margin-top: -5px;
  margin-left: 20px;
}

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}

// Tooltip
.slider_tooltip {
  position: absolute;
  top: -60px;
  left: -12px;
  line-height: 24px;
  text-align: center;

  small {
    display: block;
    text-align: left;
    font-size: 12px;
    padding-left: 2px;

    &.dollars {
      text-align: center;
    }
  }
}
