.modal-dialog  {
// Close button
// -----------------------------------------------------------------------------------
	.modal-header {
		.close {
			@include inline-block(29px, 28px, auto, top, 0);
			@include border-radius(50%);
			@include opacity(1);
			position: absolute;
			right: -16px;
			top: -11px;
			background: #4D4D4D;
			border: 2px solid #fff;
			font-size: 24px;
			padding: 0 0 1px 0;
			&:hover {
				@include opacity(1);
				background: #313131;
			}
		}
	}
	

// Blue Bg Modal
// -----------------------------------------------------------------------------------
	&.blue_modal {
		.modal-content {
			@include border-radius(10px);
			background: #1A4D8A;
			border: 1px solid #fff;
			color: #fff;
		}
	}
// Orang Bg Modal
// -----------------------------------------------------------------------------------
	&.orange_modal {
		.modal-content {
			@include border-radius(10px);
			background: #EB7723;
			border: 1px solid #fff;
			color: #fff;
		}
	}
	&.light_blue_modal {
		.modal-content {
			@include border-radius(10px);
			background: #CAD5E0;
			border: 1px solid #fff;
			color: #000;
		}
	}
}