
@media (min-width: 480px) {
	.register_modal {
		top: 20px;
	}

	.register_modal {
		top: 0;
		height: auto;
		overflow-y: hidden;
		margin-right: 0;
		margin: auto;
		padding-right: 0;
	}

	.carousel .panel-1 .container {
		background-image: url(../img/slidebg-pie-crane-a.png), url(../img/slidebg-pie-crane-b.png);
		background-repeat: no-repeat, no-repeat;
		background-position: 75% top, center bottom;
		background-size: auto 35%, auto 25%;
	}

	.carousel .panel-1 .carousel-caption {
		bottom: 100px;
	}

	.carousel .panel-1 .carousel-caption h1 {
		font-size: 30px;
		margin-bottom: 10px;
	}

	.carousel .panel-2 .container {
		background: url(../img/slidebg-100percent.png) 10% bottom / auto 80% no-repeat;
	}

}

@media (min-width: 768px) {
	.register_modal {
		top: 200px;
	}

	.register_modal .modal-content .modal-body .link {
		width: 167px;
		height: 160px;
		display: inline-block;

	}

	.register_modal .modal-content .modal-body .link.merchant {
		margin: 10px 12px;
	}

	.register_modal .modal-content .modal-body .link.merchant img {
		width: 84px;
	}

	.register_modal .modal-content .modal-body .link.nonprofits img {
		width: 62px;
		padding: 25px 0 0 0;
	}

	.register_modal .modal-content .modal-body .link img {
		width: 110px;
	}

	.register_modal .modal-content .modal-body .link > div {
	}

	.img-responsive {
		max-width: 100%;
	}

	.noBreak-xs {
		display: inline;
	}

	.noBreak-sm {
		display: none;
	}

	.lead {
		font-size: 18px;
	}

	/* Remove the edge padding needed for mobile */
	.marketing {
		padding-left: 0;
		padding-right: 0;
	}

	/* Navbar positioning foo */
	.navbar-wrapper {
	}

	.navbar-wrapper .container {
		padding-left: 0px;
		padding-right: 0px;
	}

	.navbar .container {
		padding-left: 15px;
	}

	.navbar-wrapper .navbar {
		padding-left: 0;
		padding-right: 0;
	}

	/* The navbar becomes detached from the top, so we round the corners */
	.navbar-wrapper .navbar {
		border-radius: 4px;
	}

	.navbar-default .navbar-collapse {
		margin-top: 0px;
	}

	.carousel-caption {
		right: 5%;
		left: 5%;
		padding-bottom: 15px;
	}

	/* Bump up size of carousel content */
	.carousel-caption p, .hero p {
		margin-bottom: 20px;
	}

	.carousel-caption h1, .carousel .panel-1 .carousel-caption h1, .carousel .panel-5 .carousel-caption h1 {
		margin-bottom: 0px;
		font-size: 30px;
	}

	.carousel .panel-1 .container {
		background: url(../img/slidebg-pie-crane.png) 90% / auto 100% no-repeat;
	}

	.carousel .panel-1 .container {
		background-image: url(../img/slidebg-pie-crane-a.png), url(../img/slidebg-pie-crane-b.png);
		background-repeat: no-repeat, no-repeat;
		background-position: right top, bottom right;
		background-size: auto 180px, auto 110px;
	}

	.carousel .panel-2 .container {
		background: url(../img/slidebg-100percent.png) 10% / auto 100% no-repeat;
	}

	.carousel .panel-3 .container {
		background-image: url(../img/dn-arrow-main.png), url(../img/slidebg-patron.png);
		background-repeat: no-repeat, no-repeat;
		background-position: 166px top, right bottom;
		background-size: auto auto, auto 70%;
	}

	.carousel .panel-1 .carousel-caption {
		bottom: 20px;
	}

	.carousel .panel-3 .carousel-caption {
		bottom: 20px;
	}

	.carousel .panel-4 .carousel-caption {
		bottom: 70px;
	}

	.carousel .panel-4 .carousel-caption p.fs28 {
		margin-left: 25px;
		margin-bottom: 20px;
	}

	.carousel .panel-4 .container {
		background-image: url(../img/dn-arrow-main.png), url(../img/slidebg-merchant.png);
		background-repeat: no-repeat, no-repeat;
		background-position: 315px top, center bottom;
		background-size: auto auto, 70% auto;
	}

	.carousel .panel-5 .container {
		background-image: url(../img/dn-arrow-main.png), url(../img/slidebg-nonprofit.png);
		background-repeat: no-repeat, no-repeat;
		background-position: 480px top, left bottom;
		background-size: auto auto, auto 70%;
	}

	.carousel .panel-5 .carousel-caption {
		bottom: 20px;
	}

	.carousel .register_error {
		margin-bottom: 0;
		font-weight: bold;
	}

	.patron #feat-1 .container, .merchant #feat-1 .container, .nonprofit #feat-1 .container {
		background: url(../img/dn-arrow-main.png) 166px top no-repeat;
		z-index: 2;
		position: relative;
		margin-top: -10px;
	}

	.hero .container {
		background: url(../img/dn-arrow-main.png) 166px top no-repeat;
		z-index: 2;
		position: relative;
	}

	.merchant .hero .container {
		background-position: 315px top;
	}

	.merchant #feat-1 .container {
		background-position: 315px top;
	}

	.nonprofit .hero .container {
		background-position: 480px top;
	}

	.nonprofit #feat-1 .container {
		background-position: 480px top;
	}

	.about .hero .container {
		background: url(../img/hero-about.png) 0 100px no-repeat;
		background-size: 40%;
	}

	.hero.bottom {
		min-height: 350px;
	}

	.hero.bottom .container {
		background: none;
	}

	.hero h1 {
		margin-top: 70px;
		font-size: 48px;
	}

	.featurette-heading {
		font-size: 50px;
		margin-top: 40px;
	}

	.marketing .col-lg-4 {
		margin-bottom: 0px;
	}

	.marketing.threeCols .row.hidden-xs {
		margin-bottom: 40px;
	}

	.marketing .staff p span {
		font-size: 21px;
		display: block;
	}

}

@media (min-width: 992px) {
	.noBreak-sm {
		display: inline;
	}

	.noBreak-md {
		display: none;
	}

	.lead {
		font-size: 21px;
	}

	.fs20 {
		font-size: 20px;
		line-height: 130%;
	}

	.fs24 {
		font-size: 24px;
		line-height: 130%;
	}

	.fs28 {
		font-size: 28px;
		line-height: 130%;
	}

	.fs33 {
		font-size: 33px;
		line-height: 110%;
	}

	.fs36 {
		font-size: 36px;
		line-height: 100%;
		margin-bottom: 0;
	}

	.carousel-caption h1, .carousel .panel-1 .carousel-caption h1, .carousel .panel-5 .carousel-caption h1 {
		font-size: 42px;
	}

	.carousel .sign-up {
		margin-left: 25px;
	}

	.carousel-caption .form-group h2 {
		font-size: 33px;
	}

	.carousel-caption .form-group p {
		font-size: 24px;
	}

	.carousel .panel-3 .carousel-caption p.fs28, .carousel .panel-4 .carousel-caption p.fs28 {
		margin-left: 25px;
		margin-bottom: 20px;
	}

	.carousel .panel-1 .carousel-caption {
		bottom: 5px;
	}

	.carousel .panel-2 .carousel-caption {
		bottom: 0px;
	}

	.featurette-heading {
		margin-top: 50px;
	}

	.faq .featurette-heading, .contact .featurette-heading {
		margin-top: 50px;
		margin-bottom: 40px;
	}

	.hero .container {
		background-position: 381px top;
	}

	.patron #feat-1 .container {
		background-position: 381px top;
		margin-top: -10px;
	}

	.merchant .hero .container {
		background-position: 535px top;
	}

	.merchant #feat-1 .container {
		background-position: 535px top;
	}

	.nonprofit .hero .container {
		background-position: 700px top;
	}

	.nonprofit #feat-1 .container {
		background-position: 700px top;
	}

	.carousel .panel-1 .container {
		background-image: url(../img/slidebg-pie-crane-a.png), url(../img/slidebg-pie-crane-b.png);
		background-repeat: no-repeat, no-repeat;
		background-position: 93% top, 93% bottom;
		background-size: auto 210px, auto 140px;
	}

	.carousel .panel-3 .container {
		background-image: url(../img/dn-arrow-main.png), url(../img/slidebg-patron.png);
		background-repeat: no-repeat, no-repeat;
		background-position: 380px top, right bottom;
		background-size: auto auto, auto 80%;
	}

	.carousel .panel-4 .container {
		background-image: url(../img/dn-arrow-main.png), url(../img/slidebg-merchant.png);
		background-repeat: no-repeat, no-repeat;
		background-position: 535px top, center bottom;
		background-size: auto auto, 70% auto;
	}

	.carousel .panel-5 .container {
		background: url(../img/dn-arrow-main.png) 700px top no-repeat, url(../img/slidebg-nonprofit.png) left bottom no-repeat;
	}

	.carousel .panel-5 .container {
		background-image: url(../img/dn-arrow-main.png), url(../img/slidebg-nonprofit.png);
		background-repeat: no-repeat, no-repeat;
		background-position: 700px top, left bottom;
		background-size: auto auto, auto 80%;
	}

	.marketing h2 {
		font-weight: normal;
		font-size: 48px;
		line-height: 100%;
		margin-bottom: 25px;
	}

	.marketing h2 span {
		font-size: 36px;
	}
}

@media (min-width: 1200px) {
	.noBreak-md {
		display: inline;
	}

	.noBreak-lg {
		display: none;
	}

	.featurette-heading {
	}

	.hero .container {
		background-position: 580px top;
	}

	.carousel .panel-1 .carousel-caption {
		bottom: 20px;
	}

	.patron #feat-1 .container {
		background-position: 580px top;
	}

	.merchant .hero .container {
		background-position: 735px top;
	}

	.merchant #feat-1 .container {
		background-position: 735px top;
	}

	.nonprofit .hero .container {
		background-position: 900px top;
	}

	.nonprofit #feat-1 .container {
		background-position: 900px top;
	}

	.carousel .panel-3 .container {
		background: url(../img/dn-arrow-main.png) 580px top no-repeat, url(../img/slidebg-patron.png) right bottom no-repeat;
	}

	.carousel .panel-3 .container {
		background-image: url(../img/dn-arrow-main.png), url(../img/slidebg-patron.png);
		background-repeat: no-repeat, no-repeat;
		background-position: 580px top, 90% bottom;
		background-size: auto auto, auto 80%;
	}

	.carousel .panel-4 .container {
		background-image: url(../img/dn-arrow-main.png), url(../img/slidebg-merchant.png);
		background-repeat: no-repeat, no-repeat;
		background-position: 735px top, center bottom;
		background-size: auto auto, 70% auto;
	}

	.carousel .panel-5 .container {
		background: url(../img/dn-arrow-main.png) 900px top no-repeat, url(../img/slidebg-nonprofit.png) left bottom no-repeat;
	}

	.carousel .panel-5 .container {
		background-image: url(../img/dn-arrow-main.png), url(../img/slidebg-nonprofit.png);
		background-repeat: no-repeat, no-repeat;
		background-position: 900px top, left bottom;
		background-size: auto auto, auto 90%;
	}

	.featurette img[src*="feat-patron-build-neighborhoods.png"] {
		margin-top: 20px;
		height: 400px;
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}
}
