/* MODAL */
body.modal-open {
	overflow: auto;
}

.modal {
	overflow-y: auto;

	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
		font-family: $helvetica;
		letter-spacing: 0;
		line-height: 33px;
		color: white;
	}

	p {
		line-height: 20px;
		letter-spacing: 0;
	}

	h2 {
		font-size: 30px;
		margin-bottom: 40px;
		margin-top: 0;
	}

	h4 {
		font-size: 18px;
		margin-top: 30px;
		line-height: 1.1;
	}

	a {
		font-size: 14px;
		color: $Blue;
		text-decoration: none;
		letter-spacing: 0;
	}

	.checkbox,
	.help-block {
		margin-left: 15px;
	}

	.form-control {
		background-color: white;
		color: #000;
	}

	.form-group label {
		margin-left: 0;
	}

	.remember-me {
		color: white;
	}

}

.modal-content {
	background-color: #000;
	border: none;
	border-radius: 0px;
}

.modal-header {
	border-bottom: none;

	button.close {
		color: #fff;
		opacity: 0.5;
		filter: alpha(opacity=50);

		&:hover,
		&:focus {
			opacity: 0.8;
			filter: alpha(opacity=80);
		}
	}
}

.modal-body {
	padding: 20px 40px 40px;
	p {
		color: #ccc;
	}
}
