.forgot_password {
	width: 825px;
// Modal Header
// ================================================================================
	.modal-header {
		padding: 0;
		min-height: inherit;
	}
// Modal Body
// ================================================================================
	.modal-body {
		padding: 28px 30px 40px;
		h1 {
			font: 400 42px/1 "helvetica_neue_lt_std43LtEx", "Arial", sans-serif;
			margin: 5px 0 25px 0;
			text-align: center;
			color: #000;
		}
		p {
			font: 100 21px/1 "helvetica_neue_lt_std43LtEx", "Arial", sans-serif;
			color: #000;

		}
		.border_box_container {
			margin: 76px 0 0 0;
			text-align: center;
			.border_box {
				@include inline-block(322px, auto, auto, top, auto);
				@include border-radius(10px);
				border: 2px solid #fff;
				background: #D9E1E9;
				padding: 31px 10px 16px;
				margin: 0 11px;
				min-height: 230px;
				p { padding: 0 0 30px 0; }
				&.new_account {
					button { padding: 11px 23px; }
				}
			}
		}
		input {
			font: 400 20px/1 "helvetica_neue_lt_std43LtEx", "Arial", sans-serif;
			border: 1px solid #ccc;
			text-align: center;
			margin: 0 0 18px 0;
			font-size: 20px;
			padding: 15px;
			width: 100%;
			&:focus {
				outline: none;
				border: 1px solid #A8A8A8;
			}

			&::-webkit-input-placeholder { padding:3px 0 0 0; }

			/* Firefox 4-18 */
			&:-moz-placeholder { padding:3px 0 0 0; }

			/* Firefox 19+ */
			&::-moz-placeholder { padding:3px 0 0 0; }

			/* IE10+ */
			&:-ms-input-placeholder { padding:3px 0 0 0; }
		}
		button {
			font: bold 22px/1 "helvetica_neue_lt_std43LtEx", "Arial", sans-serif;
			@include border-radius(50px);
			padding: 22px 47px;
			color: #fff;
			&:focus { outline: none;}
		}
	}
}