// ******************************************************************************************************************************
// Blocks Wrapper - General Design
// ******************************************************************************************************************************
$blockHeight: 227px;
.blocks_wrapper {
  &.medium { height: 517px !important; }
  &.high { height: 755px !important; }
  &.short { height: 274px; }
  &.smallBoxMedium { height: 414px !important;}
  min-height: 300px;
  max-height: 2.75 * $blockHeight;
  overflow: auto;
  overflow-x: hidden;
  padding: 19px 19px;
  background: #f7f7f7;
  font-size: 0;
  position: relative;


// Block Wrapper - No Results
// ------------------------------------------------------------------------------------------------------------------------------
  .no_results {
    p {
      position: absolute;
      line-height: 0;
      top: 50%;
      left: 0;
      right: 0;
      font-size: 20px;
      text-align: center;
    }
  }

  .empty_directory {
    position: absolute;
    line-height: 0;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    color: #b1b1b1;
  }


}

// ******************************************************************************************************************************
// Block - General Design
// ******************************************************************************************************************************
.block {
  @include inline-block(32.2%, $blockHeight,auto,top,auto);
  font-size: 14px;
  border: 1px solid #999;
  border-radius: 10px;
  background: #fff;
  margin-left: 1.7%;
  position: relative;
  float: left;
  &:nth-of-type(3n+1) { margin-left: 0; clear: left; }
  &:nth-of-type(n+4) { margin-top: 16px; }
  & > div:last-child { border-radius: 0 0 8px 8px; }

  &.message {


    border: none;
    padding: 40px 60px;
    background-color: transparent;

    h3 {
      font-size: 24px;
    }

    button.btn_style_big {
      position: absolute;
      bottom: 10px;
      right: 25px;
    }

    &.message_two_blocks {
      @include inline-block(64.4%, $blockHeight, auto, top, auto);
      padding: 20px 30px;
      font-style: italic;
      h3 {
        padding-right: 50px;
        line-height: 1.4;
      }
    }

    &.message_three_blocks {
      @include inline-block(100%, 100%, auto, top, auto);
      background-color: $Orange;
      color: #fff;
      padding-right: 400px;
      position: absolute;
      margin: 0;
      top: 19px;
      left: 19px;
      height: calc(100% - 38px);
      width: calc(100% - 38px);
      h3 {
        margin-bottom: 30px;
        font-size: 24px;
      }
      p {
        line-height: 1.4;
        padding-right: 100px;
      }
    }

  }



// Block - Header
// ------------------------------------------------------------------------------------------------------------------------------
  .block_header {
    @include inline-block(192px,128px,auto,auto,auto);
    padding: 7px 15px;
    position: relative;
    width: 100%;
    h3 {
      line-height: 1.2;
      width: 100%;
      overflow: hidden;
//    word-break: break-word;
      text-align: left;
      min-height: 26px;
      margin-bottom: 4px;
      text-overflow: ellipsis;
    }
    .block_more {
      @include position(absolute, null null 12px 15px);
      &:after { content:"\00bb"; padding-left: 5px; }
    }
    .block_edit {
      @include position(absolute, null 15px 12px null);
    }

    & > div { @include position(absolute, 0 null null 100%); }
    .star-rating { cursor: default; }
    .rating_wrapper { left: 95%; }
  }

// Block - Giveback
// ------------------------------------------------------------------------------------------------------------------------------
  .block_giveback {
    @include horizontal-align;
    padding: 5px 17px;
    height: 50px;
    border-top: 1px solid #aaa;
    color: #fff;
    h4 { width: 100%; }
    p {
      @include inline-block(52%,auto,auto,auto,auto);
      @include horizontal-align;
      & + p { width: 42%; }
    }
    span { vertical-align: baseline; }
    span + span { font-size: 16px; }
    &.block_giveback_bottom {
      position: absolute;
      bottom: 0;
    }
  }
}
