// ******************************************************************************************************************************
// Form Filters
// E.g. Patron -> My Giveback Page -> Nonprofit Directory Section
// ******************************************************************************************************************************
.form_filters {
  position: relative;
  color: red;

  label {
    display: inline-block;
    margin-right: 10px;
    background: #fff;
    font-size: 18px;
    span {
      @include inline-block(auto, 28px, auto, auto, 28px);
      background: #9b9b9b;
      padding: 0 5px;
      color: #fff;
    }
    select, input {
      border: 1px solid #aaa;
      border-radius: 5px;
      outline: none;
      height: 38px;
    }
    input {
      padding: 5px 10px;
    }
  }

  .name_filter {
    width: 394px;
  }

  .type_filter {
    max-width: 298px;
  }

  .filter_search,
  .filter_export {
    line-height: 0px;
    height: 38px;
    padding: 8px;
    font-size: 18px;
    vertical-align: top;
  }

  .filter_export {
    position: absolute;
    right: 0;
    margin-right: 11px;
  }
}

.form_filters_indicators {
  position: relative;
  height: 38px;

  .indicator {
    margin: 5px 11px;
  }

  .indicator_name {
    position: absolute;
    left: 0;
  }

  .indicator_counter {
    position: absolute;
    right: 0;
  }
}
