/**
 * Helvetica Neue LT Web Fonts
 * Generated for Ferrotec theme migration
 * @package Layers2025
 */

/* Helvetica Neue LT Std 33 Thin Extended */
@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('helveticaneueltstd-thex-webfont.woff') format('woff'),
         url('helveticaneueltstd-thex-webfont.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

/* Helvetica Neue LT Std 43 Light Extended */
@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('helveticaneueltstd-ltex-webfont.woff') format('woff'),
         url('helveticaneueltstd-ltex-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Helvetica Neue LT Std 53 Extended (Regular) */
@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('helveticaneueltstd-ex-webfont.woff') format('woff'),
         url('helveticaneueltstd-ex-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Helvetica Neue LT Pro 45 Light */
@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('helveticaneueltpro_lt-webfont.woff') format('woff'),
         url('helveticaneueltpro_lt-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
