/**
 * Main Theme Styles
 *
 * @package Layers2025
 * @since 1.0.0
 */

/* This file will contain the main theme styles */
/* Styles are currently in style.css - migrate here for better organization */
