#nonprofit_directory {
	@include justify;

	//min-width: 1050px;
	.container_main {
		margin: 0 auto;
		max-width: 1000px;
	}

	line-height: 1.2;
	letter-spacing: 0;

  	.left_align {
	  text-align: left;
	}

	label {
		font-weight: normal;
	}

	p {
		font-weight: normal;
		line-height: 1.2;
		letter-spacing: 0;
	}

	h1, h2, h3, h4, h5, h6 {
		letter-spacing: 0;
	}

}
