.chart, .empty_chart {
  width: 100%;
  height: 300px;
  background-color: #f7f7f7;
  border-radius: 0;
  margin-top: 15px;
}

.empty_chart {
  text-align: center;
  h2 {
    line-height: 300px;
    color: $LightGray;
  }
}
