.modal.in .modal-dialog.thank_you_modal {
	max-width: 630px;
	@include translateY(25%);
}

.thank_you_modal .modal-content {
	font: 400 14px/1.2 $font;
	border: 1px solid #fff;
	@include border-radius(10px);
	color: #fff;
	background: #EB7723;
}

.thank_you_modal .modal-content .title {
	font-size: 60px;
	font-weight: 100;
	font-style: italic;
	margin: 0 0 8px 0;
}

.thank_you_modal .modal-content p {
	font-size: 20px;
	font-weight: 100;
	line-height: 27px;
	margin: 0 0 27px 0;
	color: #fff;
}

.thank_you_modal .modal-content p:last-child { margin: 0; }

@media (max-width: 510px) {
	.thank_you_modal .modal-body {
		padding: 20px 30px 40px;
	}
	.thank_you_modal .modal-content .title {
		font-size: 40px;
	}
	.thank_you_modal .modal-content p {
		font-size: 17px;
		margin: 0 0 17px 0;
		line-height: 24px;
	}
}
