%animate_pop {
  transition: all linear 0.3s;
  &.ng-enter { opacity: 0; }
  &.ng-enter-active { opacity: 1; }
  &.ng-leave-active { opacity: 0; }
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}
