#claim_form_received {
	padding: 0 $ContentPadding 60px;
	display: inline-block;
	background: $Orange;
	.content {
		padding: 74px 0 0 0;
		color: #fff;
		h2 {
			font-style: italic;
			margin: 0 0 68px 0;
			font-size: 62px;
		}
		p {
			font-size: 32px;
			line-height: 34px;
		}
		@media (max-width: 1020px) {
			padding: 74px 20px 0;
		}
		@media (max-width: 800px) {
			padding: 34px 20px 0;
			h2 {
				margin: 0 0 28px 0;
				line-height: 52px;
				font-size: 52px;
			}
			p {
				font-size: 27px;
				line-height: 34px;
			}
		}
	}
}
