.content_wrapper {
	border-top: 1px solid $Gray;
	padding: 33px 0 0;
	width: 100%;

	.content {
		@include border-radius(10px);
		display: inline-block;
		vertical-align: top;
		width: 69%;
		line-height: 1.2;
		margin: 0 29px 0 0;
		min-height: 100px;
		color: #000;
		padding: 0;

		.mission {
			margin-bottom: 20px;
			font-size: 1.2em;
			font-weight: 500;
			line-height: 1.2;
			vertical-align: top;
			color: black;
		}

		.about {
			line-height: 1.5 !important;
			font-weight: 500 !important;
		}
	}

	p {
		margin: 0 0 20px 0;
		font-size: 22px;
		font-weight: 400;
		line-height: 1.1;
		color: $Gray;
	}
}

